.footer__page {
  bottom: 0;
  display: flex;
  min-height: 10vh;
  position: fixed;
}

.footer_images-container {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 35vh;
  min-width: 100vh;
  position: fixed;
  right: 35vh;
}
